.has-background-light
  .container
    #messages
      - @messages.each do |message|
        = render partial: "message", locals: { message: message }

    = form_with model: Message.new, data: { remote: "true" } do |f|
      .field
        = f.label :body, class: "label"
        = f.text_area :body, class: "input textarea", rows: 4
      .actions
        = f.submit 'Submit', class: "button is-link"
