= form_with model: [@post, @post.comments.build], data: { remote: "true" } do |f|
  = f.hidden_field :post_id, value: @post.id
  .field
    = f.label :body, "Leave a reply", class: "label"
    = f.text_area :body, class: "input textarea"
  .actions
    = button_tag class: "button is-success", type: "submit", name: "commit", value: "Submit" do
      %span.icon
        %i.far.fa-paper-plane
      %span
        Send
