.section.has-background-light
  .container
    .columns.is-centered
      .column.is-half
        %h2.title Log in
        = form_for resource, as: resource_name, url: session_path(resource_name),
          data: { remote: "true", type: "text/html" } do |f|
          .field
            = f.label :email, class: 'label'
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
          .field
            = f.label :password, class: 'label'
            = f.password_field :password, autocomplete: "current-password", class: 'input'
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in", class: 'button is-link'

        = render "devise/shared/links"
