%h2.title.is-h2 Comments

#comments
  - @post.comments.each do |comment|
    = render partial: "comment", locals: { comment: comment }

= form_with model: [@post, @post.comments.build], data: { remote: "true" } do |f|
  = f.hidden_field :post_id, value: @post.id
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Submit'

