#posts
  - posts.each do |post|
    .card.mb-5
      .card-content
        = link_to post do
          %h2.title.is-5
            = post.title
        %p.mt-3.mb-3
          %span.tag.is-info.is-light.is-medium.mr-3
            %span.icon.mr-1
              %i.fas.fa-user
            = post.user.username
          %span.tag.is-info.is-light.is-medium.mr-3
            %span.icon.mr-1
              %i.far.fa-calendar-alt
            = post.created_at.strftime('%B %e')
          %span.tag.is-info.is-light.is-medium.mr-3
            %span.icon.mr-1
              %i.far.fa-comment
            = post.comments.count
            replies