%nav.navbar{class: "#{yield(:navbar_classes)}"}
  .container
    .navbar-brand
      .navbar-item
        %a.title.is-primary.is-4{ href: root_path }
          Clubhouse

    .navbar-menu
      - if user_signed_in?
        .navbar-start
          %a.navbar-item{ href: posts_path }
            Forum
          %a.navbar-item{ href: messages_path }
            Chat

      .navbar-end
        .navbar-item
          .buttons
            - if user_signed_in?
              %span.button.has-text-grey.mb-2.mr-3
                %span.icon
                  %i.fas.fa-globe-americas
                %span
                  Region:
                  = display_region
              = link_to destroy_user_session_path, method: :delete, class: 'button is-outlined is-danger' do
                %span.icon
                  %i.fas.fa-sign-out-alt
                %span Log out
              -# - if current_user.admin
                -# = link_to "Admin", admin_root_url, class: 'button is-outlined is-info'
            - else
              = link_to "Sign up", new_user_registration_path, class: 'button is-outlined is-success'
              = link_to "Login", new_user_session_path, class: 'button is-outlined is-info'
